<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<!-- <!doctype html>
<html>
  <head>
    <title>Hive</title>
  </head>
  <body> -->
      
    <h1>Welcome</h1>
    <br>
    <h4> Teacher Sign Up </h4>
    <form method="POST" action="/teacher_sign_up">
      <input type="text" name="teacher_name" placeholder="Teacher Name">
      <br><br>
      <input type="submit">
    </form>
    
    <h4> Teacher Login </h4>
    <form method="POST" action="/teacher_login">
      <input type="text" name="name" placeholder="Teacher Name">
      <br> <br>
      <input type="submit">
      <h1> <br> </h1>
    </form>
    
    <h4> Student Sign Up </h4>
    <form method="POST" action="/student_sign_up">
      <input type="text" name="student_name" placeholder="Student Name">
      <br><br>
      <input type="submit">
    </form>
    
    <h4> Student Login </h4>
    <form method="POST" action="/student_login">
      <input type="text" name="name" placeholder="Student Name">
      <input type="submit">
      <br> <br>
    </form>
    
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
      <br>
    </form>
    
<!--   </body>
</html> -->
